---
const balls = Array.from({ length: 5 }, () => ({
  x: Math.random() * 120 - 20,
  y: Math.random() * 120 - 20,
  size: 600 + Math.random() * 200,
  duration: 15 + Math.random() * 20,
  delay: Math.random() * -20,
}));
---

<div class="background">
  {
    balls.map((ball) => (
      <div
        class="ball"
        style={`
        width: ${ball.size}px;
        height: ${ball.size}px;
        left: ${ball.x}%;
        top: ${ball.y}%;
        animation-duration: ${ball.duration}s;
        animation-delay: ${ball.delay}s;
      `}
      />
    ))
  }
  <div class="ball" id="cursor-ball"></div>
</div>

<style>
  .background {
    position: fixed;
    inset: 0;
    background: var(--color-background);
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }

  .ball {
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    background: var(--color-primary);
    opacity: 0.15;
    filter: blur(100px);
    animation: float infinite ease-in-out;
    pointer-events: none;
    transition: opacity 10s ease-in;
  }
  #cursor-ball {
    filter: blur(70px);
    background: var(--color-primary);
    width: 200px;
    height: 200px;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
  }

  @keyframes float {
    0%,
    100% {
      transform: translate(0, 0) scale(1);
    }
    25% {
      transform: translate(200px, 25px) scale(1.2);
    }
    50% {
      transform: translate(0, 150px) scale(1);
    }
    75% {
      transform: translate(-200px, 75px) scale(0.8);
    }
  }
</style>
<script>
  const prefersReducedMotion = window.matchMedia(
    "(prefers-reduced-motion: reduce)"
  ).matches;
  const isMobile = window.matchMedia("(max-width: 768px)").matches;

  if (!prefersReducedMotion && !isMobile) {
    const cursorBall = document.getElementById("cursor-ball")!!;

    let mouseX = window.innerWidth / 2,
      mouseY = window.innerHeight / 2;

    cursorBall.style.opacity = "0.3";

    document.addEventListener("mousemove", (e) => {
      mouseX = e.clientX;
      mouseY = e.clientY;
    });

    function animate() {
      cursorBall.style.transform = `translate(${mouseX - 100}px, ${mouseY - 100}px)`;
      requestAnimationFrame(animate);
    }

    animate();
  } else if (isMobile) {
    // No cursor thingy
  } else {
    document.querySelectorAll(".ball").forEach((el) => el.remove());
  }
</script>
